@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(2em); }
  to {
    opacity: 1; } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(2em); }
  to {
    opacity: 1; } }

:root {
  --main-bg-color: #fff8f0;
  --main-body-grey: #43434b; }

.footer {
  background-color: var(--main-body-grey);
  color: var(--main-bg-color);
  flex-shrink: 0;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer a {
    color: var(--main-bg-color);
    font-weight: 200;
    text-decoration: none; }

html {
  height: 100%; }

body {
  background-color: var(--main-bg-color);
  color: var(--main-body-grey);
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%; }
  body .header {
    margin: 2rem auto 2rem auto;
    width: 950px;
    max-width: 90%; }
    body .header .menu {
      margin: 0 -12px;
      display: flex;
      flex-wrap: wrap;
      border-bottom: solid #000000;
      padding-bottom: 0.5em; }
    body .header .flexfiller {
      flex-grow: 1; }
    body .header li {
      float: left;
      list-style: none; }
    body .header .menulink {
      color: inherit;
      text-decoration: none;
      font-weight: 500;
      font-size: 1em;
      padding: 8px;
      display: block;
      transition: color .3s;
      margin: 4px; }
    body .header .menulink.hometitle {
      font-weight: 500; }
    body .header .menulink.active {
      background-color: var(--main-body-grey);
      color: var(--main-bg-color); }
    body .header .menulink:hover {
      color: #4f6cec; }
    body .header ul {
      padding: 0;
      margin: 0; }
  body a {
    text-decoration: underline;
    color: #000;
    font-weight: 800;
    transition: color .3s; }
  body a:hover {
    color: #4f6cec; }

main {
  margin: 2rem auto 2rem auto;
  width: 950px;
  max-width: 90%;
  opacity: 0;
  -webkit-animation: fadeInUp 1s ease-out 0s forwards;
  animation: fadeInUp 1s ease-out 0s forwards;
  flex: 1 0 auto; }
  main h1 {
    font-family: 'Merriweather', serif;
    font-size: 3rem;
    margin: auto auto 3rem auto; }
  main h2 {
    font-family: 'Merriweather', serif;
    border-bottom: solid; }
  main h3 {
    font-family: 'Merriweather', serif;
    border-bottom: solid; }

form {
  margin: 0 auto;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em; }
  form div {
    margin-top: 1em; }
  form label {
    display: inline-block;
    width: 100px;
    text-align: left; }
  form input, form textarea {
    /* To make sure that all text fields have the same font settings */
    /* By default, textareas have a monospace font */
    font: 1em sans-serif;
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
    /* Match form field borders */
    border: 1px solid #999; }
  form input:focus,
  form textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000; }
  form textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
    /* Provide space to type some text */
    height: 5em; }
  form button {
    /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
    margin-left: .5em; }
  form input:invalid {
    box-shadow: 0 0 5px 1px #e77; }
  form input:focus:invalid {
    box-shadow: none; }
  form textarea:invalid {
    box-shadow: 0 0 5px 1px #e77; }
  form textarea:focus:invalid {
    box-shadow: none; }

.homepage-main {
  text-align: left;
  font-size: inherit; }
  .homepage-main h1 {
    font-size: 4rem;
    font-weight: 200; }
  .homepage-main h2 {
    font-size: 3.3rem;
    font-weight: 200;
    border-bottom: none; }
  .homepage-main a {
    color: #000000;
    font-family: 'Merriweather', serif;
    text-decoration: 4px underline solid; }
