body {
  background-color: #15143b;
  color: #fdfb87;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: medium; }
  body .homepage-header {
    font-weight: 200;
    font-size: 0.5em; }
